* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipes-category-btn {
  background: #fcdc36;
  border: 2px solid;
  border-radius: 15%;
  font-size: 18px;
  margin-left: 8px;
  margin-top: 20px;
  padding: 3px 8px;
}

.recipes-container {
  align-items: center;
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 30px;
}

.recipes-name {
  color: rgb(26, 27, 28);
  font-size: 30px;
  font-style: oblique;
  font-weight: 900;
  margin: 20px 0;
}

.recipes-img {
  border-radius: 7%;
  height: auto;
  max-width: 100%;
}
